html, body, div, span, h1, h2, p, img, ul,
	li, label, article, header, nav, figure {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html {
    background-color: white;
    height: 100%;
}
body {
	font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

article, aside, footer, header, menu, nav {
	display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
}
li {
    display: inline;
}

a {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
    text-decoration: none;
    position: relative
}
a,
a:VISITED,
a:ACTIVE {
    color: #ca5b5b;
}
a:focus {outline:0;}

a.text::after {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #ca5b5b;
    border-radius: 1px;
    transform: scaleX(0);
    transition: transform 0.2s ease-in 0.02s;
}
a.text:hover::after {
    transform: scaleX(1);
}

h1 {
	display: inline-block;
	font-weight: normal;
}

.icons {
    background-color: #AFAFAF;
    -webkit-mask-image: url('img/icons.svg');
    -webkit-mask-size: auto 100%;
    -webkit-mask-repeat: no-repeat;

    mask-image: url('img/icons.svg');
    mask-size: auto 100%;
    mask-repeat: no-repeat;

    display: inline-block;
    width: 2em;
    height: 2em;
    transition: background-color 0.2s ease-in 0.02s;
}
.icons:hover {
    background-color: #ca5b5b;
}


.icons.insta {
    -webkit-mask-position: 0% top;
    mask-position: 0% top;
}
.icons.behance {
    -webkit-mask-position: 10% top;
    mask-position: 10% top;
}
.icons.fb {
    -webkit-mask-position: 20% top;
    mask-position: 20% top;
}
.icons.twitter {
    -webkit-mask-position: 30% top;
    mask-position: 30% top;
}
.icons.pinterest {
    -webkit-mask-position: 40% top;
    mask-position: 40% top;
}

#toggleStoreLinks {
	cursor: pointer;
    background-position: 50% top;
}
#storeLinks.visible {
	height: 8em;
}
#storeLinks .linkHolder {
	display: inline-block;
}
#storeLinks img {
	vertical-align: middle;
}
header {
    margin: 5em 1em 3em 1em;
    text-align: center;
}
header nav {
    color: #ca5b5b;
    font-size: 0.9em;
    text-transform: uppercase;
}
header h1 {
    font-size: 2.75em;
    display: block;
    margin-bottom: 0.5em;
}

header nav li {
    text-decoration: none; 
    line-height: normal;
    margin-right: 1em;
    vertical-align: middle;
    display: inline-block;
}
header nav li.icon {
    margin-right: 0;
}
header nav .icons.behance {
    margin-left: 3px;
}
main {
    max-width: 948px; 
    margin-right: auto;
    margin-left: auto;
    padding: 0em 1em;
	line-height: 1;
    color: #828282;
    flex: 1;
}

#gallery {
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#gallery li {
    margin: 0px 8px 16px 8px;
    display: inline-block;
}
#gallery li img {
    border-radius: 5px;
}

#gallery figure {
    position: relative;
    line-height: 0;
}
#gallery figcaption {
    color: white;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1;
    position: absolute;
    bottom: 0;
    margin-left: 1em;
    margin: 0 1em 1em 1em;
}
#gallery figcaption h2 {
    display: block;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3;
    font-size: 1em;
    margin: 0;
    margin-top: 0.5em;
    text-transform: uppercase;
}

#gallery figcaption,
#gallery figure::before {
    transition: opacity 0.2s ease-in;
    opacity: 0;
}
#gallery figure::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    content: "";
    border-radius: 5px;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(74, 54, 52, 0.7) 80%);

    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
}
#gallery a:hover figcaption,
#gallery a:hover figure::before {
    opacity: 1;
}

article {
    line-height: 1.4;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
}
article h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
}

article p,
article a {
    font-size: 1em; 
}
article p {
    margin-bottom: 1em;
}
article #description {
    max-width: 25em;
    order: 1;
}
#about #description {
    max-width: 32em;
}

article #gallery {
    display: block;
    width: calc(552px + 1em);
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2; 
    column-count: 2;
    margin-right: 3em;
    margin-left: 1em;
    flex-shrink: 0;
}
article #gallery img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}
article #gallery a {
    display: inline-block;
    margin-bottom: 1em;
    line-height: 0;
}

article aside {
    margin-right: 2em;
}

footer {
    margin-top: 3em;
    padding: 0 3em 2em 3em;
    text-align: center;
}
footer small {
    font-size: 0.9em;
    color: #cfcfcf;
}
#scrollUpButton {
    float: right;
}

@media all and (max-width: 1030px) {
    main {
        max-width: 640px;
    }
    article #gallery {
        width: 280px;
        columns: 1;
    }
    
}
@media all and (max-width: 680px) {
    main {
        max-width: 100%;
    }
    header {
        margin: 3em 1em 2em 1em; 
    }
    header h1 {
        font-size: 1.7em;
    }
    article {
        flex-direction: column;
    }
    article #description {
        order: 0;
        margin-bottom: 2em;
    }
    article #gallery {
        margin: auto;
    }
}

@media all and (max-width: 350px) {
    header h1 {
        font-size: 1.55em;
    }
    header nav {
        display: inline-block;
        margin: 0 auto;
        max-width: 15em;
    }

    header nav ul li:nth-child(2) {
        margin-right: 0;
    }
    header nav li.icon {
        margin-top: 0.5em;
    }
    main {
        padding: 0;
        margin: auto;
        
    }
    article #description,
    #about #description {
        max-width: 276px;
        margin: 0 auto 2em auto;
    }
    article #gallery {
        margin: auto;
    }
    article aside {
        margin: auto;
    }
}